@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-White: #ffffff;
  --clr-Black: #000000;
  --clr-Dark-Gray: #8c8c8c;
  --clr-Very-Dark-Gray: #696969;
  --font-family-alata: "Alata", sans-serif;
  --font-family-josefin: "Josefin Sans", sans-serif;
  --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25),
    -2px -2px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--clr-white);
}

header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  height: 140px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 5px;
  font-family: var(--font-family-josefin);
  position: relative;
  border-bottom: 3px solid transparent;
}

nav ul li.active {
  border-bottom: 3px solid white;
  transition: all 0.3s;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

/* animation */
nav ul li ::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 1px;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s ease;
}

nav ul li :hover::before {
  scale: 1;
  transform-origin: left;
}

nav .menu-btn i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.hero-container p {
  color: white;
  font-size: 4rem;
  font-family: var(--font-family-josefin);
  text-transform: uppercase;
  font-weight: 300;
  border: 2px solid white;
  display: inline-block;
  padding: 2.5rem;
  padding-right: 8rem;
  margin-top: 3rem;
  margin-left: 3.25rem;
}

/* interactive-img  */
.interactive-img {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 90%;
  padding: 0 50px;
  margin: 7rem auto;
}

.main-img {
  width: 800px;
}

.mobile {
  display: none;
}

.right-container {
  background-color: white;
  margin-left: -12rem;
  padding: 5rem 0 0 8rem;
  width: 100%;
}

.right-container h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
}

.right-container p {
  color: var(--clr-Dark-Gray);
  line-height: 30px;
}

/* img collections */
.all-images {
  padding: 0 80px;
  margin-bottom: 5rem;
}

.image-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.image-btn-container h2 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 300;
}

.image-btn-container button {
  background-color: white;
  font-family: var(--font-family-josefin);
  padding: 10px 40px;
  cursor: pointer;
  margin-top: -19px;
  border: 2px solid var(--clr-Very-Dark-Gray);
  transition: all 0.3s;
}

.image-btn-container button:hover {
  background-color: aliceblue;
  color: var(--clr-Very-Dark-Gray);
  transition: all 0.3s;
  border: 2px solid var(--clr-Dark-Gray);
}

.image-collections-desktop .desktop {
  width: 250px;
}

.main-img .mobile {
  display: none;
}

.image-collections-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.image-collections-desktop div {
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  top: -5rem;
  position: absolute;
  transform: scale(0.8);
  pointer-events: none;
}

.image-collections-desktop div.show {
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
  opacity: 1;
  top: 0;
  pointer-events: auto;
}

.image-collections-desktop div img,
.image-collections-mobile div img {
  transition: all 0.5s ease;
}

.image-collections-desktop div img:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.image-collections-desktop p,
.image-collections-mobile p {
  text-align: left;
  font-weight: 300;
  font-family: var(--font-family-josefin);
  font-size: 1.75rem;
  margin-top: -6rem;
  z-index: 99;
  color: white;
  padding-left: 2rem;
}

/* footer */
footer {
  background-color: var(--clr-Black);
  padding: 3rem 70px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.left-footer ul {
  display: flex;
  margin-top: 2rem;
  margin-left: -1.5rem;
}

.left-footer ul li {
  margin: 0 5px;
  font-family: var(--font-family-josefin);
}

.left-footer ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.right-footer p {
  color: white;
  padding-top: 2rem;
  font-family: var(--font-family-josefin);
}

.social-icons {
  display: flex;
  gap: 1.25rem;
}

.s-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.s-icon:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

.icons {
  color: white;
  font-size: 2.25rem;
  transition: all 0.3s;
}

.icons:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

/* media queries */
@media (max-width: 1390px) {
  .image-btn-container {
    max-width: 90%;
    margin: 16px auto;
    padding: 0 50px;
  }

  .all-images {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 1130px) {
  .image-collections-desktop .desktop {
    width: 200px;
  }

  .main-img {
    width: 600px;
  }

  .right-container h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }

  footer {
    padding: 2rem 20px;
    margin: 0 auto;
    width: 100%;
  }

  .image-collections-desktop .desktop {
    width: 160px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  .container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  nav {
    height: 80px;
    width: 100%;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  .hero-container.active {
    background-color: #111;
    width: 100%;
    transition: all 0.3s ease;
    position: fixed;
  }

  nav ul {
    position: fixed;
    top: 75px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 3rem;
  }

  nav ul li {
    width: 100%;
    text-align: left;
    padding-left: 3rem;
  }

  nav ul li.active {
    border: none;
  }

  nav ul li ::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  .all-images {
    width: 100%;
    padding: 0 2rem;
  }

  .image-collections-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .left-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2rem auto;
  }
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    margin: auto;
  }

  .logo {
    width: 170px;
    margin-left: -1.5rem;
  }

  header {
    position: sticky;
    top: 0;
  }

  .fa-bars {
    margin-right: -1.5rem;
  }

  .hero-container p {
    font-size: 2.5rem;
    margin-left: 1rem;
    padding: 2.5rem;
    padding-right: 5rem;
  }

  .all-images {
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding: 0 10px;
  }

  .image-collections-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2rem;
  }

  .image-collections-mobile div {
    overflow: hidden;
    transition: all 0.5s ease;
    opacity: 0;
    top: -5rem;
    position: absolute;
    transform: scale(0.8);
    pointer-events: none;
  }

  .image-collections-mobile p {
    font-size: 1.5rem;
    margin-top: -5rem;
  }

  .image-collections-mobile div.show {
    position: relative;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
    opacity: 1;
    top: 0;
    pointer-events: auto;
  }

  .image-collections-desktop,
  .desktop {
    display: none;
  }

  .image-collections-mobile div {
    overflow: hidden;
  }

  .image-collections-mobile div img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }

  .interactive-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
  }

  .image-btn-container {
    padding: 0;
  }

  .interactive-img {
    padding: 0 1.5rem;
  }

  .mobile {
    display: block;
  }

  .main-img.mobile {
    display: block;
    max-width: 100%;
    height: 60vh;
    margin: 0 auto;
  }

  .right-container {
    padding: 1.5rem 0.5rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .right-container h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.75rem;
    margin-top: 1.5rem;
  }

  .right-container p {
    color: var(--clr-Dark-Gray);
    line-height: 30px;
  }

  footer .logo {
    width: 150px;
    margin: 0 auto;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }
}

@media (max-width: 610px) {
  .image-btn-container h2 {
    font-size: 2rem;
  }
}

@media (max-width: 540px) {
  .logo {
    width: 150px;
  }

  .image-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-btn-container h2 {
    font-size: 1.75rem;
  }

  .image-btn-container button {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    padding: 10px 25px;
  }

  .left-footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .s-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .icons {
    font-size: 1.75rem;
  }
}

@media (max-width: 426px) {
  header {
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-container p {
    font-size: 2rem;
    margin-left: 1.5rem;
  }

  .image-collections-desktop {
    display: none;
  }

  .image-collections-mobile {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  footer {
    padding: 2.5rem 20px;
  }

  .main-img.mobile {
    height: 30vh;
    margin: 0 auto;
  }

  .right-footer p {
    text-align: left;
    font-size: 1rem;
  }
}
